@import url(http://fonts.googleapis.com/css?family=Raleway:200,300);

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#top-nav {
  margin: 0;
  height: 44px;
  background: rgba( 255, 255, 255, 0.65);
  border-top: none;
  border-right: none;
  border-bottom: solid 4px rgba( 0, 233, 255, 0.65);
  border-left: none;
}

#top-nav .nav a {
  padding: 6px;
  margin: 4px;
  background: transparent;
  color: rgba( 88, 88, 88, 1.00);
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  border: solid 1px transparent;
  -webkit-transition: border 0.25s ease-in-out;
  -moz-transition: border 0.25s ease-in-out;
  -o-transition: border 0.25s ease-in-out;
  transition: border 0.25s ease-in-out;
}

#top-nav .nav a:hover {
  color: rgba( 0, 233, 255, 1.00);
  border: solid 1px rgba( 0, 233, 255, 1.00);
}

#top-nav .brand img {
  margin-top: 6px;
  margin-left: 12px;
  width: 200px;
  height: 30px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 58em;
  width: 100%;
  z-index: -9999 !important;
}

#main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}

#main h1 {
  display: block;
  background: rgba( 0, 233, 255, 0.55);
  border: none;
  border-radius: 4px;
  margin: 2em 0 0 0;
  padding: 12px;
  line-height: 72px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 64px;
  color: #fff;
}

#platform {
  position: relative;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
}

#platform h2 {
  background: rgba( 0, 233, 255, 0.55);
  border: none;
  border-radius: 4px;
  padding: 6px;
  line-height: 56px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 54px;
  color: #fff;
}

#chat-btn {
  display: block;
  margin-top: 2em;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  padding: 12px 18px;
  background: rgba( 0,233,255,1.00);
  color: #fff;
  border-radius: 6px;
  border: solid 3px rgba( 0,233,255,1.00);
  text-decoration: none;
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

#chat-btn:hover {
  color: rgba( 0,233,255,1.00);
  background: transparent;
}

#chat-list {
  width: 100%;
  height: 100%;
}

#chat-list form {
  border: none;
}

#chat-list form input {
  margin: auto;
  background: #F5F5F5;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  border: solid 1px rgba( 0, 233, 255, 1.00);
}

::-webkit-input-placeholder {
  color: #626262;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #626262;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #626262;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

:-ms-input-placeholder {
  color: #626262;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

#msg-list {
  height: 38em;
  overflow-y: scroll;
}

.chat {
  font-size: 20px;
  list-style-type: none;
  padding: 10px; }

.timeline {
  list-style: none;
  margin-left: 2px;
}

.timeline li {
  font-size: 14px;
  font-weight: 200;
}

.timeline li span {
  display: inline;
}

.timeline li .content {
  font-weight: 300;
  color: #fff;
  float: left;
  margin: 6px;
  width: 40%;
  background: rgba( 126, 189, 232, 1.00);
  padding: 8px;
  border-radius: 8px;
}

.timeline li .author {
  font-weight: 300;
  color: #fff;
  float: right;
  margin: 6px;
  width: 80%;
  background: #66FFCC;
  padding: 8px;
  border-radius: 8px;
}


/*# sourceMappingURL=main.css.map */
